#loader {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #03ac13; /* Green */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
  display: none; /* Initially hidden */
  margin-left: auto;
  margin-right: auto;
}

/* Spin animation */
@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#coasterTableDiv {
    width: 100%;
    overflow-x: auto; /* scrolling */
    white-space: nowrap;
}

#coasterTable {
    width: 100%;
    border-collapse: collapse;
    min-width: 600px;
}

#coasterTable th, #coasterTable td {
    padding: 8px;
    text-align: center;
    border: 1px solid #ddd;
}

#coasterTable thead {
    position: sticky;
    top: 0;
    background: white;
    z-index: 2;
}

@media only screen and (max-width: 600px) {
    #coasterTableDiv {
        overflow-x: auto; /* scrollable */
    }

    #coasterTable {
        display: block;
        overflow-x: auto;
        min-width: 500px;
    }

    #coasterTable th, #coasterTable td {
        font-size: 14px;
        padding: 5px;
    }
}

#coasterInput {
  width: 35%;
  font-size: 17px;
  padding: 12px 0px 12px 12px;
  border: 1px solid #ddd;
}

#selectManu, #selectType, #selectStat {
  font-family: Tahoma;
  font-size: 18px;
  width: 16%;
  padding: 10px 18px 10px 10px;
  border: 1px solid #ddd;
  margin-bottom: 8px;
}

#selectStat {
  margin-left: 0.5% !important;
}

.topData {
  font-family: Tahoma;
  font-size: 18px;
  text-align: center;
}

.options {
  display: flex;
  justify-content: center;
  align-items: center;
}

#coasterTable {
  border-collapse: collapse;
  border: 1px solid #ddd;
  font-size: 18px;
  font-family: Tahoma;
  margin: auto;
  width: 50%;
}

#coasterTable th, #coasterTable td {
  text-align: left;
  padding: 12px;
  border-bottom: 1px solid #ddd;
}

#coasterTable tr.header, #coasterTable tr:hover {
  background-color: #f1f1f1;
}

.sort-arrow {
  display: none;
}

#coasterTable thead th {
  cursor: pointer;
  user-select: none;
}
